
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  font-family: Roboto Mono, sans-serif;
  background: #fffefc;
}

.slider-header {
  text-align: center;
  width: 100%;
  margin: 1em 0em;
}

.slider-container {
  display: flex;
  max-width: 800px;
  width: 800px;
  margin: auto;
}

.slider-showreel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-slide {
  display: flex;
  margin: 0px;
  flex: 0 0 100%;
}

.slider-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slider-buttons {
  text-align: center;
  margin: 2em 0em;
}

.slider-buttons button {
  padding: 0.5em 0.8em;
  background-color: #fff;
  border: 1px solid #000;
  font-size: 1.1em;
}
